!!!
%html
  %head
    %title Sabalas
    = csrf_meta_tags
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/css?family=Roboto:300,400,500,700' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '//fonts.googleapis.com/icon?family=Material+Icons' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ :style => 'padding-top: 60px;' }
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{ :href => '#' }
            Juan Dela Cruz
    = yield
