.parallax-container
  .parallax 
    %img{ :src => "#{image_path 'banner-bg.jpg'}", :style => 'width: 100%; height: auto;' }
  .container.flow-text.white-text{ :style => 'height: 100%;' }
    %div{ :style => 'bottom: 0px; position: absolute;' }
      %img.circle.z-depth-1{ :src => "#{image_path 'profile.jpg'}", :style => 'height: 200px; width: 200px;' }
      %h1.light
        John Isaiah Carmona
      %h4.light{ :style => 'margin-top: -20px; padding-bottom: 20px;' }
        SOFTWARE ENGINEER
.section
  .container.flow-text
    
    %h4.light
      Works professionally as a software engineer for over 6 years. Loves programming, especially the challenging stuff like 
      user experience, database design, and software architecture.
.section.white#biography
  .container
    %h3.center.light BIOGRAPHY
    %br
    %br
    %h4.light
      %small
        %ul
          %li.valign-wrapper
            %i.material-icons.left today
            #{ (Time.now.to_s(:number).to_i - "1991-10-23 00:00:00".to_time.to_s(:number).to_i)/10e9.to_i } years of age
          %li.valign-wrapper
            %i.material-icons.left location_on
            Mandaluyong City, Philippines
    %br
    %br
    %h5 EDUCATIONAL BACKGROUND
    %h4.light
      Bulacan State University
      %small
        %ul
          %li.valign-wrapper
            %i.material-icons.left date_range
            2007-2011
          %li.valign-wrapper
            %i.material-icons.left school
            Bachelor of Science, major in Information Technology
    %br
    %br
    %h5 WORK EXPERIENCE
    %h4.light
      Paramount Life &amp; General Insurance Corporation
      %small
        %ul
          %li.valign-wrapper
            %i.material-icons.left date_range
            2011-2013
          %li.valign-wrapper
            %i.material-icons.left business_center
            Software Developer, under Software Laboratories Incorporated
        %ul
          %li.valign-wrapper
            %i.material-icons.left date_range
            2013-Present
          %li.valign-wrapper
            %i.material-icons.left business_center
            Software Engineer
.section#skills-technologies
  .container
    %h3.center.light SKILLS &amp; TECHNOLOGIES
    %br
    %br
    %h5 PROGRAMMING LANGUAGES
    .row
      .col.s12.m6.l4
        .card.hoverable
          .card-image.black.white-text
            %h1.truncate.card-title-only C#
            %button.btn-floating.halfway-fab.waves-effect.modal-trigger{ :'data-target' => 'modal-skills-c' }
              %i.material-icons description
          .card-content
            .truncate .NET Framework 4.0-4.5, MVC 5, ASP.NET, WCF, Windows Form
            %span.grey-text.text-darken-2.rating
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star_half
      #modal-skills-c.modal.modal-fixed-footer
        .modal-content
          %h1 C#
        .modal-footer
          %a.modal-action.modal-close.btn-flat{ :href => "#!" } CLOSE
      .col.s12.m6.l4
        .card.hoverable
          .card-image.black.white-text
            %h1.truncate.card-title-only RoR
            %a.btn-floating.halfway-fab.waves-effect
              %i.material-icons description
          .card-content
            .truncate Asynchronous Forms, Routings
            %span.grey-text.text-darken-2.rating
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star_border
              %i.material-icons star_border
      .col.s12.m6.l4
        .card.hoverable
          .card-image.black.white-text
            %h1.truncate.card-title-only Java
            %a.btn-floating.halfway-fab.waves-effect
              %i.material-icons description
          .card-content
            .truncate Swing Framework, Generics, Reflections
            %span.grey-text.text-darken-2.rating
              %i.material-icons star
              %i.material-icons star
              %i.material-icons star_border
              %i.material-icons star_border
              %i.material-icons star_border
.section.white
  .container
    %h3.light How to Order
    %h4.light Here are three easy steps on how you can easily purchase our shirts.
    %br
    .row.center-align
      .col.s12.m4.l4
        %i.material-icons.large.black-text add_shopping_cart
        %h4 SHOP
        %h5.light Add as many items into your shopping cart as you want. The more the merrier.
        %br
      .col.s12.m4.l4
        %i.material-icons.large.black-text account_balance
        %h4 PAY
        %h5.light Checkout your cart and pay through bank transfer. Then send the picture of the payment details to us.
        %br
      .col.s12.m4.l4
        %i.material-icons.large.black-text favorite
        %h4 ENJOY
        %h5.light Recieve the items after a few days, depending on your location, and wear our awesome shirt EVERYDAY!
        %br
    .row.center-align
      .col.s12
        %a.btn.btn-large.waves-effect{ :href => '#!' } MORE INFO