.jumbotron
  %h1
    Testing
    %i.material-icons face
  %p How can we use this?
  %p
    %a.btn.btn-primary.btn-lg.btn-raised{ :href => '#' }
      I don't know
      %i.material-icons explore
    %a.btn.btn-primary.btn-raised{ :href => '#' }
      I don't know
      %i.material-icons pets
    %a.btn.btn-primary.btn-sm.btn-raised{ :href => '#' }
      I don't know
      %i.material-icons query_builder
    %a.btn.btn-primary.btn-xs.btn-raised{ :href => '#' }
      I don't know
      %i.material-icons explore
    %br
    %a.btn.btn-primary.btn-lg{ :href => '#' }
      I don't know
      %i.material-icons explore
    %a.btn.btn-primary{ :href => '#' }
      I don't know
      %i.material-icons explore
    %a.btn.btn-primary.btn-sm{ :href => '#' }
      I don't know
      %i.material-icons explore
    %a.btn.btn-primary.btn-xs{ :href => '#' }
      I don't know
      %i.material-icons explore
    %a.btn.btn-primary.btn-fab{ :href => '' }
      %i.material-icons search
  %form
    .form-group.label-floating
      %label{ :class => "control-label", :for => "focusedInput1" } Write something to make the label float
      %input#focusedInput1{ :class => "form-control", :type => "text" }