@import "materialize/components/color";
$primary-color: #000000 !default;
$secondary-color: color("blue", "darken-3") !default;
$slider-indicator-color: #000000 !default;

@import 'materialize';
@import 'site';